@import "../../../assets/vars.scss";

.checkbox {
  height: 30px;
  display: flex;
  align-items: center;

  .label {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;

      .chk_box {
        border: 1px solid $accent-color;
      }
    }
  }

  .chk_box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #acacac;
    border-radius: 2px;
    transition: all 0.2s ease;
    position: relative;
    margin-right: 10px;

    &:before {
      content: "";
      display: none;
      width: 10px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border: none;
      border-left: 2px solid $accent-color;
      border-bottom: 2px solid $accent-color;
      transition: all 0.2s ease;
    }
  }

  input {
    display: none;

    &:checked + .chk_box {
      border: 1px solid $accent-color;
    }

    &:checked + .chk_box:before {
      display: block;
    }
  }
}
